.logo {
    padding-top: 24px;
    padding-bottom: 25px;
    // margin-right: 276px;

    color: var(--header-color);
    text-decoration: none;
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.19;

   
    &-span {
        color: var(--logo-color);
    }   
}
