.modal {
  position: absolute;
  width: 450px;
  height: auto;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 500ms;

  background-color: var(--main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  display: flex;
  flex-direction: column;

  @media screen and (min-width:768px) {
    width: 450px;
    
  }

    @media screen and (min-width:1200px) {
      width: 528px;
  
    }

  &-title {
    margin-bottom: 20px;

    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;

    color: var(--font-color);
  }

  &-label {
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    margin-bottom: 4px;

    color: var(--text-color);
  }

  &-input {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding-left: 42px;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    outline: transparent;

    &:focus {
      border-color: var(--logo-color);
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:focus + .modal-icon {
      fill: var(--logo-color);
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  &-input-box {
    position: relative;
    width: 100%;
  }

  &-icon {
    left: 0;
    top: 5%;
    position: absolute;
    margin-left: 12px;
    transform: translateY(50%);
  }

  &-link {
    width: 100%;
    margin-left: 7px;

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    text-decoration: none;

    color: var(--logo-color);

    &::after {
      position: absolute;
      content: '';
      background-color: var(--logo-color);
      width: 95%;
      height: 1px;
      bottom: 5%;
      left: 5%;
    }
  }

  &-checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

    &:checked + .modal-checkbox-label > span {
      border: none;
      background-color: var(--logo-color);
    }

    &:checked + .modal-checkbox-label > span svg {
      fill: var(--main-color);
      transition: 250ms;
    }
  }

  &-checkbox-label {
    display: flex;
    justify-content: center;
    font-size: 12px;
    color: var(--text-color);

    margin-bottom: 30px;
  }

  
  &-checkbox-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 16px;
    height: 15px;
    margin-right: 7px;

    border: 2px solid var(--font-color);
    border-radius: 2px;
    & svg {
      fill: transparent;
    }
  }


  &-btn {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    padding: 10px 52px;

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
    background-color: var(--logo-color);
    color: var(--main-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;

    &:focus,
    &:hover {
      background-color: var(--main-color);
      color: var(--header-color);
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &-textarea {
    display: inline-block;
    height: 96px;
    width: 100%;
    padding: 12px 16px;
    resize: none;
    margin-bottom: 20px;

    font-size: 14px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    outline: transparent;

    &:focus {
      border-color: var(--logo-color);
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &-close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;

    &:hover {
      fill: var(--logo-color);
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

textarea::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.checkbox-underline {
  position: relative;
}

/* .modal-checkbox:checked + .modal-checkbox-label::before{
  background-color: var(--logo-color);
  border: none;
  background-image: url(../images/apply.svg);
  background-position: center;
  background-repeat: no-repeat;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
} */

/* .modal-checkbox-label::before{
  content: '';
  width: 16px;
  height: 15px;
  margin-right: 7px;

  border: 2px solid var(--font-color);
  border-radius: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
